<%- include('../partials/head')%> 


<div class="container">
    <h2 class="title-favorito title">Mis favoritos</h2>
    <% if (success_msg) { %>
        <p class="msg"><%= success_msg %></p>
    <% } %>
    <% if (error_msg) { %>
        <p class="msg"><%= error_msg %></p>
    <% } %>
<div class="container-favorito">

        <div class="left"> 

        <% if (favorito && favorito.length > 0) { %>
            <ul>
                <% favorito.forEach(item => { %>
                <a href="/productos/shop/<%= item._id %>">
                    <div class="favorito-item">

                       
                            
                            <img src="/images/<%= item.imagen %>" alt="<%= item.nombre %>" >
                    
                        <div class="nombre-favorito">
                            <h2><%= item.nombre %></h2>
                        </div>            

                        <div class="quitar-favorito">
                            <form action="/productos/favorito/quitar" method="post">
                                <input type="hidden" name="productId" value="<%= item._id %>">
                                <button type="submit">Eliminar</button>
                            </form>
                        </div>
   
                        
                    </div>

                </a>
               
                <% }) %>
            </ul>

        </div>

        <% } else { %>
            <p class="msg-vacio">El carrito está vacío.</p>
        <% } %>
    </div>
</div>


<%- include('../partials/footer')%> 