<%- include('../partials/head')%> 
<h2 class="title">Nuestras Especialidades</h2>

<div class="product-type">
<div class="product-container-type">

    
    <% pasteleria.forEach(pastel => { %>
        <div class="product-card product">
        <a href="/productos/pasteleria">
        <h2>Pastelería</h2>
         <img src="/images/<%= pastel.imagen%>" alt="Pasteleria" class="product-image">
   
    </a>
</div>
<% })%>

</div>

<div class="product-container-type">

    <% panaderia.forEach(pana => { %>
        <div class="product-card product">
        <a href="/productos/panaderia">
            <h2>Panadería</h2>
        <img src="/images/<%= pana.imagen%>" alt="Panaderia" class="product-image">
        
            
    </a>
</div>
    <% })%>
  
    

</div>
</div>

<h2 class="title">Nuestros Recomendados</h2>


<div class="product-container">
       
    <% products.forEach(product => { %>
        <div class="product-card">
        <a href="/productos/shop/<%= product._id %>">
           
                <img src="/images/<%= product.imagen%>" alt="<%= product.nombre_producto %>" class="product-image">
                <div class="info-card">
                    <h2><%= product.nombre %></h2>
                    <p class="price"> $<%= product.precio %> </p>
                </div>
                
        </a>

        <div class="btn-container">
            <div class="btn-agregar">
                <form action="/productos/carrito/agregar" method="post">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <button type="submit">Agregar al Carrito</button>
                </form>
        
            </div>
          
        </div>
       
        
           
        </div>

   <% })%>

</div>




<%- include('../partials/footer')%>