<%- include('../partials/head')%> 

<section>
<div class="product-container detail">
    
    <div class="product-descripcion">
        
        <img src="/images/<%= producto.imagen %>" alt="<%= producto.nombre %>">
       <div class="descripcion">
            <p><%= producto.descripcion %></p>
       </div> 
       
    </div>
   

    <div class="product-info detail-info">
        <div class="favoritos">
            <% if (favoriteProductIds.includes(producto._id.toString())) { %>
                
                    <div class="btn-favorito">
                        <form action="/productos/favorito/quitar" method="post">
                            <input type="hidden" name="productId" value="<%= producto._id %>">
                            <button type="submit"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    </div>
            <%} else{ %>
                
                    <div class="btn-favorito">
                        <form action="/productos/favorito/agregar" method="post">
                            <input type="hidden" name="productId" value="<%= producto._id %>">
                            <button type="submit"><i class="fa-regular fa-heart"></i></button>
                        </form>
                    </div>
           <% } %>
        </div>
        
        <div class="descripcion">
            <h1><%= producto.nombre %></h1>
            <p class="price">Precio: $<%= producto.precio %></p>
        </div>
       
        

        <div class="btn-container">
            <div class="btn-agregar">
                <form action="/productos/carrito/agregar" method="post">
                    <input type="hidden" name="productId" value="<%= producto._id %>">
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </div>
            

            <div class="btn-comprar">
                <form action="/productos/carrito/exito" method="post">
                    <button type="submit" class="btn-comprar">Comprar</button>
                </form>
            </div>


    
        </div>
    </div>
    
    </div>
      
      
   
    <div class="enlace">

    <h2 class="title">Otros Productos</h2>

    <div class="product-container">
       
        <% products.forEach(product => { %>
            <div class="product-card">
            <a href="/productos/shop/<%= product._id %>">
               
                    <img src="/images/<%= product.imagen%>" alt="<%= product.nombre_producto %>" class="product-image">
                    <div class="info-card">
                        <p><%= product.nombre %></p>
                        
                    <div>
                        <p class="price-other"> $<%= product.precio %> </p>
                    </div>
                </div>
            </a>
    
            <div class="btn-container">
                <div class="btn-agregar">
                    <form action="/productos/carrito/agregar" method="post">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <button type="submit">Agregar al Carrito</button>
                    </form>
            
                </div>
              
            </div>
           
            
               
            </div>
    
       <% })%>
    
    </div>
   
    
</div>
   


</section>

<%- include('../partials/footer')%>