<%- include('../partials/head')%> 

<section>
    <h2 class="title">Todos Nuestros Productos</h2>
    <div class="product-container product-shop">
       
        <% products.forEach(product => { %>
            <div class="product-card card-shop">
            <a href="/productos/shop/<%= product._id %>">
               
                    <img src="/images/<%= product.imagen%>" alt="<%= product.nombre_producto %>" class="product-image">
                    <div class="info-card">
                        <p><%= product.nombre %></p>                        
                   
                    <div>
                        <p class="price"> $<%= product.precio %> </p>
                    </div>
                </div>
                    
            </a>

    
            <div class="btn-container">
                <div class="btn-agregar">
                    <form action="/productos/carrito/agregar" method="post">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <button type="submit">Agregar al Carrito</button>
                    </form>
            
                </div>
              
           
           
            <% if (favoriteProductIds.includes(product._id.toString())) { %>
                
                    <div class="btn-favorito">
                        <form action="/productos/favorito/quitar" method="post">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    </div>
               
            <%} else{%>
               
                    <div class="btn-favorito">
                        <form action="/productos/favorito/agregar" method="post">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit"><i class="fa-regular fa-heart"></i></button>
                        </form>
                    </div>
              
           <% } %>
            
        </div>
            </div>
    
       <% })%>
    
    </div>
    
    


</section>



<%- include('../partials/footer')%>